.Keyboard {
  background-color: pink;
}

.PlugBoard {
  background-color: lightgreen;
}

.Plug {
  background-color: lightblue;
}

.Plug.connected {
  font-weight: bold;
}

.LightBoard {
  background-color: coral;
}
